---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 2
---

<div class="about">
	<h2>About Me</h2>
	<p>
		Hello! My name is Roman Kiselenko. I'm a full-cycle engineer and technical lead. I bridge product logic with infrastructure reliability, security, and observability. Experienced in building high-load data validation systems, implementing quality gates, and managing cross-functional teams to deliver fault-tolerant, audit-ready solutions.
  </p>
	<p>Let's connect: <a target="_blank" href="https://www.linkedin.com/in/roman-kiselenko/">linkedin</a>
		<a target="_blank" href="https://github.com/roman-kiselenko">github</a>
		<a target="_blank" href="/cv.txt">cv.txt</a>
	</p>
</div>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
	<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found <a href="/blog/">here</a>.</p>
{% endif %}
