---
layout: layouts/base.njk
eleventyNavigation:
  key: Projects
  order: 2
---
<h1>Projects</h1>

<div class="project">
<div class="projects">
  <div class="project-card">
    <div class="project-title"><a href='https://github.com/teleskopio/teleskopio'>teleskopio</a></div>
    <div class="project-description">
      Small and beautiful Web Kubernetes client.
    </div>
    <div class="project-tech"><code>Golang</code>, <code>Kubernetes</code>, <code>React</code>, <code>Vite</code></div>
  </div>

  <div class="project-card">
    <div class="project-title"><a href='https://github.com/roman-kiselenko/smolgit'>smolgit</a></div>
    <div class="project-description">
      A minimalist git server
    </div>
    <div class="project-tech"><code>Golang</code>, <code>Git</code></div>
  </div>
</div>
</div>


