---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---
<h1>About Me</h1>
<div class="penguin">{% image "./penguin_dance.gif", "Dance penguin", [180] %}</div>
<p> I'm a father, husband, programmer, and general geek.</p>
<p>I work primarily in <code>Golang</code> but am familiar with <code>Python</code>, <code>JavaScript</code>, and <code>Bourne shell</code>.</p>
<p>Experienced in cloud service models including <code>SaaS</code>, <code>PaaS</code>, and <code>IaaS</code>.</p>
<p>Proficient in <code>Kubernetes</code> with hands-on experience in deployment and management.</p>
